<html>
    <head>
        <meta charset="utf-8">
        <title>tao weblayout</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <style>
            
        </style>
        </head>
        <body>
            <div id="wrapper">
                <div id="header"> 
                    <ul> 
                        <li><a href="#" title="Trang chủ"> Trang chủ</a></li>
                        <li><a href="#" title="Giới thiệu"> Giới thiệu</a></li>
                        <li><a href="#" title="Sản phẩm"> Sản phẩm</a></li>
                        <li><a href="#" title="Khuyến mại"> Khuyến mại</a></li>
                        <li><a href="#" title="Dịch vụ"> Dịch vụ</a></li>
                    </ul>
                </div>
                <div id="menu"> 
                    <img src="images/banner.jpeg" width="800px" height="100px">
                </div>
                <div id="left">
                    <ul>
                        <li><img src="images/thoitrang.jpg"></li>
                        <h2> Tươi tắn với sắc vàng của chanh</h2>
                        Nếu là một trong những tín đồ thời trang sành điệu, chắc chắn bạn không thể bỏ qua xu hướng vàng chanh đang “làm mưa làm gió” trong mùa hè này<br>
                        <li><img src="images/thoitrang.jpg"></li>
                        <h2> Tươi tắn với sắc vàng của chanh</h2>
                        Nếu là một trong những tín đồ thời trang sành điệu, chắc chắn bạn không thể bỏ qua xu hướng vàng chanh đang “làm mưa làm gió” trong mùa hè này<br>
                        <li><img src="images/thoitrang.jpg"></li>
                        <h2> Tươi tắn với sắc vàng của chanh</h2>
                        Nếu là một trong những tín đồ thời trang sành điệu, chắc chắn bạn không thể bỏ qua xu hướng vàng chanh đang “làm mưa làm gió” trong mùa hè này <br>
                        <li><img src="images/thoitrang.jpg"></li>
                        <h2> Tươi tắn với sắc vàng của chanh</h2>
                        Nếu là một trong những tín đồ thời trang sành điệu, chắc chắn bạn không thể bỏ qua xu hướng vàng chanh đang “làm mưa làm gió” trong mùa hè này<br>
                    </ul>
                </div>
                <div id="right">
                    <div class="menu right"></div>
                        <h3> Sản phẩm khuyến mại</i></h3>
                        <ul>
                            <li> <a href="">Sản phẩm 1</a></li>
                            <li> <a href="">Sản phẩm 2</a></li>
                            <li> <a href="">Sản phẩm 3</a></li>
                            <li> <a href="">Sản phẩm 4</a></li>
                            <li> <a href="">Sản phẩm 6</a></li>
                            <li> <a href="">Sản phẩm 7</a></li>
                            <li> <a href="">Sản phẩm 8</a></li>
                            <li> <a href="">Sản phẩm 9</a></li>
                            <li> <a href="">Sản phẩm 10</a></li>
                            

                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
                <div id="footer"> Địa chỉ: Học viện Ngân hàng</div>
            </div>
        </body>
</html>
